// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg image-url('plaid.png') top left;
}

header[role="banner"] {
	h1 {
		font-weight: bold;
		font-size: 68px;
	}
}

body>nav {
	background: $nav-bg;
	border-bottom: none;
	@include border-top-radius(.4em);
}

body>nav form .search {
	background-color: $nav-search-bg;
	color: $nav-search-color;
}

#content .blog-index a[rel=full-article] {
	background-color: $sidebar-bg;
	border-radius: 5px;
}

body>footer {
	background: $footer-bg;
	border-top: none;
}